table:not(.horizontal) {
  overflow: auto;
  max-height: 100%;
}

table tbody {
  border: 0 !important;
}

table td {
  border: 0 !important;
}

ul {
  list-style-type: disc;
  margin: 1rem;
  padding: 1rem;
}
