<app-movies-filtering [title]="title" [year]="year" [movies]="movies" [filteredMovies]="filteredMovies" (newFilteredMovies)="applyNewFilteredMovies($event)"></app-movies-filtering>
<div>
  <ul>
    @for (item of filteredMovies; track item) {
    <li>
      <div class="flex justify-between">
        <div>
          <span class="font-bold">{{ item.title }}</span>
          <p class="text-sm">Release date: {{ item.release_date }}, Budget: ${{item.budget}} million,  Duration: {{item.duration | duration}}</p>
        </div>

        <div>
          <p-button styleClass="bg-secondary-grey" (click)="navigateToDetails(item.id)">
            <div>Details</div>
          </p-button>
        </div>
      </div>
    </li>
    }
  </ul>
</div>
