<div class="bg-grey-light p-4">
  <div class="font-bold">Filters</div>
  <div class="xl:columns-2 xl:gap-x-8">
    <div>
      <label>Title</label>
      <input type="text" pInputText [(ngModel)]="title" (ngModelChange)="filterMovies()"/>
    </div>
    <div>
      <label>Release Year</label>
      <input type="text" pInputText [(ngModel)]="year" (ngModelChange)="filterMovies()"/>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <ul>
    @for (item of filteredMovies; track item) {
    <li>
      <div class="flex justify-between">
        <div>
          <span class="font-bold">{{ item.title }}</span>
          <p class="text-sm">Release date: {{ item.release_date }}  Budget: ${{item.budget}}  Duration:{{item.duration}}</p>
        </div>

        <div>
          <p-button label="Details" styleClass="bg-secondary-grey"></p-button>
        </div>
      </div>
    </li>
    }
  </ul>
</div>
