<div class="flex px-28 pl-96 m-8">
  <div>
    <div class="pb-1">
      <p-button styleClass="bg-secondary-grey" (click)="goBack()">
        <div class="flex">
          <img src="assets/icons/icons8-home.svg" width="18" alt="Back" />
          <div class="ml-2"> Back </div>
        </div>
      </p-button>
    </div>
    <div class="font-bold text-3xl pb-4 ml-2">
      <h1>{{ movie?.title }}</h1>
    </div>
    <div class="flex ml-2 pb-4">
      <div class="pr-4">
        <img
          src="{{ movie?.poster }}"
          [width]="200"
          [height]="200"
          alt="Movie Poster"
          class="movie-poster"
        />
      </div>
      <div class="w-6/12">
        <p><span class="font-bold">Summary: </span>{{ movie?.summary }}</p>
      </div>
    </div>

    <div class="p-mt-4 w-3/4">
      <h2 class="text-center text-lg pb-4">Details</h2>
      <table class="table-details">
        <tbody class="border-2">
          <tr class="grid grid-cols-3">
            <td class="header-title font-bold">Box office</td>
            <td class="col-span-2">${{ movie?.box_office }}</td>
          </tr>
          <tr class="grid grid-cols-3">
            <td class="header-title font-bold">Budget</td>
            <td class="col-span-2">${{ movie?.budget }}</td>
          </tr>
          <tr class="grid grid-cols-3">
            <td class="header-title font-bold">Duration</td>
            <td class="col-span-2">{{ movie?.duration | duration }}</td>
          </tr>
          <tr class="grid grid-cols-3">
            <td class="header-title font-bold">Producers</td>
            <td class="col-span-2">{{ movie?.producers }}</td>
          </tr>
          <tr class="grid grid-cols-3">
            <td class="header-title font-bold">Cinematographers</td>
            <td class="col-span-2">{{ movie?.cinematographers }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
